.hero {
    margin-bottom: 1rem;
}

.buscar {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 2rem;
}

.card-button {
    display: block;
    width: 100%
}

.margin-top {
    margin-top: 1rem;
}